.multiple-uploader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
    border: 2px dashed #858585;
    min-height: 110px;
    margin: 20px auto;
    cursor: pointer;
    width: 100%;
    align-items: center;
}

.mup-msg {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mup-msg span {
    margin-bottom: 10px;
}

.mup-msg .mup-main-msg {
    color: #606060;
    font-size: 1.2rem;
    font-weight: 700;
}

.mup-msg .mup-msg {
    color: #737373;
}

.image-container{
    margin: 1rem;
    width: 80px;
    height: 80px;
    position: relative;
    cursor: auto;
    pointer-events: unset;
}

.image-container:before {
    z-index: 3;
    content: "\2716";
    align-content: center;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    color: white;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e50000;
    pointer-events: all;
    cursor: pointer;
}

.image-preview {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 12px;
}

.image-size {
    position: absolute;
    z-index: 1;
    height: 80px;
    width: 80px;
    backdrop-filter: blur(4px);
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    opacity: 0;
    pointer-events: unset;
}

.image-size:hover {
    opacity: 1;
}

.exceeded-size
{
    position: absolute;
    z-index: 2;
    height: 80px;
    width: 80px;
    display: flex;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: white;
    background: rgba(255, 0, 0, 0.6);
    pointer-events: unset;
}


/*upload image*/
.button_outer {
    background: #11cdef;
    border-radius: 30px;
    text-align: center;
    height: 55px;
    display: inline-block;
    transition: .2s;
    position: relative;
    overflow: hidden;
}

.btn_upload {
    padding: 17px 30px 12px;
    color: #fff;
    text-align: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 3;
    white-space: nowrap;
}

.btn_upload input {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    width: 100%;
    height: 105%;
    cursor: pointer;
    opacity: 0;
}

.file_uploading {
    width: 100%;
    height: 10px;
    margin-top: 20px;
    background: #ccc;
}

.file_uploading .btn_upload {
    display: none;
}

.processing_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 30px;
    background: #11cdef;
    transition: 3s;
}

.file_uploading .processing_bar {
    width: 100%;
}

.success_box {
    display: none;
    width: 50px;
    height: 50px;
    position: relative;
}

.success_box:before {
    content: '';
    display: block;
    width: 9px;
    height: 18px;
    border-bottom: 6px solid #fff;
    border-right: 6px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 20px;
    top: 15px;
}

.file_uploaded .success_box {
    display: inline-block;
}

.file_uploaded {
    margin-top: 0;
    width: 160px;
    background: #11cdef;
    height: 50px;
}

.uploaded_file_view {
    max-width: 300px;
    text-align: center;
    position: relative;
    transition: .2s;
    opacity: 0;
    border: 2px solid #ddd;
}

.file_remove {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    position: absolute;
    background: #aaa;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    right: -15px;
    top: -15px;
}

.file_remove:hover {
    background: #222;
    transition: .2s;
}

.uploaded_file_view img {
    max-width: 100%;
}

.uploaded_file_view.show {
    opacity: 1;
}

